@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: cornsilk;
}


h1 {
    color: black;
    font-size: 40px;
}
  
div.input {
    color:black;
    font-size: 20px;
}
  
div.frame {
    width: 300px;
    border: 2px solid rgb(128, 128, 128);
    padding: 50px;
    margin: 2px;
  }

input[type=text] {
    height: 25px;
}

input[type=password] {
    height: 25px;
}

button[type=submit] {
    font-size: 15px;
    width:90px;
    height:30px;
}