@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: cornsilk;
}

div.frame {
    width: 500px;
    border: 2px solid rgb(128, 128, 128);
    padding: 50px;
    justify-content: center;
    margin-top: 50px;
}

input[type=text] {
    height: 25px;
}

button[type=submit] {
    font-size: 15px;
    width:90px;
    height:30px;
}