<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/cadastrar.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
	
	<div class="frame" >
	    <form id="alterarProduto" method="POST" action="../Controller/AlterarProduto.php">

			<h1>Alterar Produto</h1>
			<br>
			<h4>Insira o ID do Produto que deseja alterar</h4>
			<br>
			<label for="text">
				ID : <input type="text" name="cid" autocomplete="off"><br><br>
			</label>
			<h4>Insira os novos dados do produto :</h4><br>
			<label for="nome">
				Nome: <input type="text" name="cnome" required> <br><br>
			</label>
			<label for="precofinal">
				Preço Final: <input type="number" step="0.01" name="cprecof" required><br><br>
			</label>
			<label for="precocusto">
				Preço Custo: <input type="number" step="0.01" name="ceprecoc" required><br><br>
			</label>
			<label for="id">
				ID do Fornecedor: <input type="number" name="cidf" required><br><br>
			</label>
			<label for="quantidade">
				Quantidade: <input type="number" name="cqtde" required><br><br>
			</label>
			<br>
			<center>
			<button style="width:70px;height:30px" type="submit">ALTERAR</button>
			<br><br><br>
			<button style="width:70px;height:30px" onclick="location.href = '../View/paginaInicial.html';" class="float-left submit-button" >Voltar</button>
			</center>
		</form>
	</div>
</body>
</center>	
</html>