<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/baseform.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
	
	<div class="frame" >
	    <form id="atualizarProduto" method="POST" action="/php/atualizarForm.php">

			<h1>Atualizar Produto</h1>
			<br>
			<h4>Insira o ID do Produto que deseja atualizar</h4>
			<br>
			<label for="text">ID do Produto : </label>
			<br><br>
			<input type="text" name="removerFuncionario" autocomplete="off">
			<br><br>
			<button type="submit">ATUALIZAR</button>
		</form>
	</div>
</body>
</center>	
</html>