<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/cadastrarProduto.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
	
	<div class="frame" >
	    <form id="atualizarProduto" method="POST" action="../Controller/AlterarProduto.php">

			<h1>Atualizar Produto</h1>
			<br>
			<h4>Insira o ID do Produto que deseja atualizar</h4>
			<br>
			<label for="text">
				ID : <input type="text" name="removerFuncionario" autocomplete="off"><br><br>
			</label>
			<h4>Insira os novos dados do produto :</h4><br>
			<label for="nome">
				Nome: <input type="text" name="nome" required> <br><br>
			</label>
			<label for="precofinal">
				Preço Final: <input type="number" step="0.01" name="precof" required><br><br>
			</label>
			<label for="precocusto">
				Preço Custo: <input type="number" step="0.01" name="precoc" required><br><br>
			</label>
			<label for="id">
				ID do Fornecedor: <input type="number" name="idfor" required><br><br>
			</label>
			</label>
			<label for="quantidade">
				Quantidade: 
				<input type="number" name="qtde" required><br><br>
			<center>
			<button type="submit">ATUALIZAR</button>
			</center>
		</form>
	</div>
</body>
</center>	
</html>