<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/baseform.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
	<div class="frame">
		<form id="buscarFornecedor" method="POST" action="../Controller/BuscarProduto.php">
			<h1>Buscar Produto</h1>
			<br>
			<h4>Insira o ID do Fornecedor que deseja buscar</h4>
			<br>
			<label for="text">ID do Fornecedor : </label>
			<br><br>
			<input type="text" name="cid" autocomplete="off">
			<br><br>
			<button style="width:70px;height:30px" type="submit">BUSCAR</button>
			<br><br><br>
			<button style="width:70px;height:30px" onclick="location.href = '../View/paginaInicial.html';" class="float-left submit-button" >Voltar</button>
		</form>
	</div>
	
</body>
</center>
</html>
