<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/baseform.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
	<div class="frame">
		<form id="buscarFornecedor" method="POST" action="../Controller/buscarFornecedor.php">
			<h1>Buscar Produto</h1>
			<br>
			<h4>Insira o ID do Fornecedor que deseja buscar</h4>
			<br>
			<label for="text">ID do Fornecedor : </label>
			<br><br>
			<input type="text" name="removerFuncionario" autocomplete="off">
			<br><br>
			<button type="submit">BUSCAR</button>
			<br><br>
		</form>
	</div>
	
</body>
</center>
</html>