<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/cadastrarProduto.css">
	<meta charset="utf-8">
	<title>TripleG Store</title>
</head>
<center>
<body>
	<div class="frame">
	<form id="cadastrarProduto" method="POST" action="../Controller/CadastrarProduto.php">
		<h1>  Cadastrar Produto </h1>
		<br>
		<label for="nome">
			Nome: <input type="text" name="cnome" required> <br><br>
		</label>
		<label for="precofinal">
			Preço Final: <input type="number" step="0.01" name="cprecof" required><br><br>
		</label>
		<label for="precocusto">
			Preço Custo: <input type="number" step="0.01" name="cprecoc" required><br><br>
		</label>
		<label for="id">
			ID do Fornecedor: <input type="number" name="cidf" required><br><br>
		</label>
		<label for="email">
			E-mail: <input type="email" name="cemail"required><br><br>
		</label>
		<label for="tamanho">
			Tamanho: <input type="number" name="ctamanho" required><br><br>
		</label>
		<label for="quantidade">
			Quantidade: <input type="number" name="cqtde" required><br><br>
		</label>
		<button type="submit"> ENVIAR </button>
	</form>
	</div>	
</body>
</center>
</html>
