<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/cadastrarFornecedor.css">
	<meta charset="utf-8">
	<title>TripleG Store</title>
</head>
<center>
<body>
	<div class="frame">
	<form id="cadastrarFornecedor" method="POST" action="../Controller/cadastrarFornecedor.php">
		<h1>  Cadastrar Fornecedor </h1>
		<br>
		<label for="nome">
			Nome: <input type="text" name="nome" required> <br><br>
		</label>
		<label for="cnpj">
			CNPJ:	<input type="text" name="CNPJ" required><br><br>
		</label>
		<label for="telefone">
			Telefone: <input type="tel" name="telefone" required><br><br>
		</label>
		<label for="email">
			Email:	<input type="email" name="email"required><br><br>
		</label>
		<button type="submit"> ENVIAR </button>
	</form>
	</div>
</body>
</center>
</html>