<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/index.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
    <img src="../CSS/logoPNG.png" width="250" height="250" >
    <div class="frame">
        <form id="login" method="POST" action="../Controller/Login.php">
            <h1 class="titulo">Login</h1><br>
            <div class="input">
                <label for="text">Usuario</label><br>
                <input type="text" name="clogin" autocomplete="off" required>
            </div><br>
            <div class="input">
                <label for="text">Senha</label><br>
                <input type="password" name="csenha" required>
            </div><br>
            <div id="botaoLogin">
                <button style="width:70px;height:30px" type="submit" name="botao">Login</button>    
            </div>
        </form>

    </div>

</body>
</center>
</html>
