<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/baseform.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
    <img src="../CSS/logoPNG.png" width="150" height="150" >
    <div class="frame">
    <h3>PAGINA DE CONTROLE TRIPLEG STORE</h3>
    <br>
    <h4>Controle de Fornecedores</h4>
    <br>
    <ul>
        <li><a href="../View/cadastrarFornecedor.html">Cadastrar Fornecedor</a></li>
        <li><a href="../View/buscarFornecedor.html">Buscar Fornecedor</a></li>
        <li><a href="../View/removerFornecedor.html">Remover Fornecedor</a></li>
        <li><a href="../View/alterarFornecedor.html">Alterar Fornecedor</a></li>
    </ul>             
    <br>
    <h4>Controle de Produtos</h4>
    <br>
    <ul>
        <li><a href="../View/cadastrarProduto.html">Cadastrar Produto</a></li>
        <li><a href="../View/buscarProduto.html">Buscar Produto</a></li>
        <li><a href="../View/removerProduto.html">Remover Produto</a></li>
        <li><a href="../View/alterarProduto.html">Alterar Produto</a></li>
    </ul>             

</body>
</center>
</html>