<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../CSS/baseform.css">
    <meta charset="utf-8">
    <title>TripleG Store</title>
</head>
<center>
<body>
	<div class="frame">
		<form id="removerFornecedor" method="POST" action="../Controller/removerFornecedor.php">
			<h1>Remover Fornecedor</h1>
			<br>
			<h4>Insira o ID do Fornecedor que deseja remover</h4>
			<br>
			<label for="text">ID do Fornecedor : </label>
			<br><br>
			<input type="text" name="removerFuncionario" autocomplete="off">
			<br><br>
			<button type="submit">REMOVER</button>		
		</form>
		</div>
</body>
</center>
</html>